{% extends 'base.html' %}
<!DOCTYPE html> <!-- Используется html 5 версии -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<img src="{% static 'img/logo.png' %}">
  <head>
    <title>
      {%block title %}
      Записи сообщества {{ group }}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
      <!-- В дальнейшем тут будет создано полноценное меню -->    
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <span style="color:red">Ya</span>tube</a>
          </a>
        </div>
      </nav>      
    </header>
    <main>
      <div class="container">
        <h1>{{ group }}</h1>
        <p>
          {{ group.description }}
        </p>
        <article>
          {% block content %}
          {% for post in posts %}
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
            <p>{{ post.text }}</p>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %} 
          {% endblock %}
        </article>
        <!-- под последним постом нет линии -->
      </div>  
    </main>
    <footer class="page-footer font-small blue border-top">
      <div class="footer-copyright text-center py-3">© 2020 Copyright 
        <p><span style="color:red">Ya</span>tube</p> 
      </div>    
    </footer>
  </body>